# Environment variables
.env
.env.*
!.env.example

# Node modules
node_modules/

# Mac OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
